.box{
  height: 180px;
  width: 180px;
  display: inline-block;
}

.dark {
  color: #FFFFFF;
  background-color: #696969;
}

.light {
  color: #696969;
  background-color: #FFFFFF;
}

.blank {
  opacity: 0.1;
}

.key {
  display: inline-block;
  width: 60px;
  height: 80px;
  border: 2px solid #efefef;
  margin: 2px;
}


#container {
  margin-top: 200px;
  margin-left: auto;
  width: 1200px;
}



#keyboard {
  width: 850px;
  margin: 0 auto;
}

#row2 {
  margin-left:35px;
}

#row3 {
  margin-left:70px;
}
#row4 {
  margin-left:105px;
}

#one {
  border: 5px solid #7F1F27;
  background-color:#CC323E;
}

#two {
  border: 5px solid #CC5718;
  background-color:#FF6D1E;
}

#three {
  border: 5px solid #FFC005;
  background-color:#FFD352;
}

#four {
  border: 5px solid #007F56;
  background-color:#00CC89;
}

#five {
  border: 5px solid #005D7F;
  background-color:#0096CC;
}

#six {
  border: 5px solid #56267F;
  background-color:#8800FF;
}

body {
  background-color: #000000;
}